.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 2.5rem;
  background-color: var(--accent-bg-color);
}

.header a{
  color: #fff;
  text-decoration: none;
}
