:root{
  --bg-color: #fff;
  --text-color: #333;
  --border-color: rgb(17, 105, 121);
  --cellBg-color: rgb(194, 223, 227);
  --accent-color: #007bff;
}
*{ 
  box-sizing: border-box;
  font-size: 16px;
  margin: 0;
  padding: 0;
 }

body{
  font: 1rem Tahoma, Verdana, Segoe, sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
}

header{
  background-color: var(--accent-color);
  padding: 1.5rem;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header a{
  color: #fff;
  text-decoration: none;
}

header .logo{
  height: 50px;
  width: 50px;
  border-radius: 50%;

}

button{
  outline: none;
  border: none;
}

#error-page{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#error-page h1{
  font-size: 32px;
}

.dashboard__main{
  display: flex;
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 0 100px;
}

.dashboard__top{
  margin-bottom: 50px;
  font-size: 42px;
  text-align: left;
  font-weight: 500;
}

.dashboard__left {
  flex-grow: 1;
  margin-right: 50px;
}

.week_gridRow{
  display: grid;
  grid-template-columns: 150px 1fr 60px;
  grid-template-areas: 'heading grid summary';
  height: 60px;
  align-items: center;
}

.week_gridRow_heading{
  width: 100px;
  overflow-wrap: break-word;
  grid-area: heading;
}
.week_gridRow_main{
  display: flex;
  justify-content:space-between;
  grid-area: grid;
}
.week_gridRow_main>*{
  width: 30px;
  height: 30px;
  border-radius: 5px;
  cursor: pointer;
}

.week_gridRow_end{
  text-align: center;
  grid-area: summary;
  text-align: right;
  color: #8f99a7;
}


/* h1{
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  gap: 1em;
}

h1::before,
h1::after{
  content: '';
  border-top: 1px solid black;
  align-self: center;
} */

.active{
  background-color: aqua;
}

.mobile-only{
  display: none;
}

.day__top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
  flex-direction: row;
}

.dateSelectors{
  display: flex;
}

.dateSelectors button{
height: 40px;
border: 1px solid #bed1ed;
border-radius: 40px;
margin-right: 10px;
display: flex;
align-items: center;
justify-content: center;
padding: 0;
transition: border .3s;
width: 40px;
background-color: #fff;
}

.day__main {
  padding: 25px;
  border: 1px solid #bed1ed;
  border-radius: 5px;
}

.day__container{
  flex-grow: 0;
  width: 325px;
  top: 50px;
  align-self: flex-start;
  position: sticky;
}

.day-addTask--mobile {
  width: 100%;
  padding-top: 25px;
}

.dayItem{
  position: relative;
  display: grid;
  max-width: 275px;
  grid-template-columns: 25px 185px 65px;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  margin-bottom: 25px;
}

.dayItem:last-child{
  margin-bottom: 0;
}

.dayItem__header {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2em;
  margin: 10px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dayItem__leftSide {
  grid-row: 1 / span 2;
}

.dayItem__topLeft {
  display: flex;
  padding-left: 20px;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
}

.dayItem__topRight {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.dayItem__topRight:hover {
   cursor: pointer;
 }

.dayItem__highlight {
  position: absolute;
  height: 100%;
  left: 25px;
  width: 5px;
  border-radius: 40px;
  transition: width 0.1s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  z-index: -1;
}

.dayItem__submit {
  grid-column: 2 / span 2;
  padding-left: 20px;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.dayItem__submit .dayItem__completed {
  color: #8f99a7;;
  font-size: 16px;
  font-weight: 500;
}

.color-indicator {
  height: 15px;
  width: 15px;
  border-radius: 15px;
}

.dayItem__completeButton {
  font-weight: 600;
  font-size: 18px;
  color: blue;
  width: 100%;
  height: 100%;
  border: 1px solid blueviolet;
  border-radius: 5px;
  transition: border 0.3s;
}

.dayItem[data-status='completed'] .dayItem__highlight{
  width: calc(100% - 25px);
  border-radius: 10px;
}

.dayItem[data-status='completed'] .dayItem__header{
  color: white;
}

.checkins_complete{
  background-color: yellow;
}


.whiteButton {
  font-size: 20px;
  font-weight: 600;
  padding: 15px;
  border-radius: 60px;
  outline: none;
  transition: border .3s, color .3s, background-color .3s;
  color: #007bff;
  background-color: #fff;
  border: 1px solid #bed1ed;
}

.dashboardMobileTabBar{
  position: fixed;
  bottom: 0;
  left: 0;
  height: 75px;
  padding-bottom: max(0, calc(env(safe-area-inset-bottom) - 20px));
  width: 100vw;
  flex-direction: row;
  justify-content: center;
  background-color: var(--accent-color);
  align-items: center;
}

.dashboardMobileTabBar__button{
  height: 40px;
  margin: 0 25px;
  flex-direction: column;
  color: #fff;
  justify-content: space-between;
  font-weight: 500;
  background-color: var(--accent-color);
  display: flex;
  align-items: center;
}

.dashboardMobileTabBar__button:hover{
  border-bottom: #fff 1px solid;
}

@media (max-width: 1200px) {
  .dashboard__main {
    min-height: calc(100vh - 150px);
    padding: 50px 2.5% 100px;
  }
}


@media (max-width: 768px) {
  .dashboard{
    overflow-x: auto;
  }
  .dashboard__main{
    display: grid;
    grid-template-columns: 100% 100%;
    grid-template-areas: "right left";
    overflow-x: auto;
    -webkit-scroll-snap-coordinate: 0 0;
    -ms-scroll-snap-coordinate: 0 0;
    scroll-snap-coordinate: 0 0;
    -webkit-scroll-snap-points-x: repeat(100%);
    -ms-scroll-snap-points-x: repeat(100%);
    scroll-snap-points-x: repeat(100%);
    -webkit-scroll-snap-type: x mandatory;
    -ms-scroll-snap-type: x mandatory;
    scroll-snap-type: x mandatory;
    padding: 0;
  }

  .dashboard__left,
  .dashboard__right {
    scroll-snap-align: start;
    width: 100%;
    padding: 25px 5%;
  }

  .dashboard__left {
    grid-area: left;
    margin-right: 0;
  }

  .dashboard__right {
    grid-area: right;
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 480px) {
  .mobile-only {
    display: flex;
  }
  .dashboard {
     padding-bottom: 75px;
  }
  .week_gridRow{
    grid-template-columns: 4fr 3fr;
    grid-template-areas:
    'heading summary'
    'grid grid';
    grid-row-gap: 10px;
    margin-bottom: 25px;
  }
  .week-gridRow_main{
    grid-column: 1/span 2;
  }
}


