:root{
  --clr-text: hsl(204, 100%, 1%);
  --clr-body: hsl(204, 20%, 15%);
  --clr-surface: hsl(0, 0%, 100%);
  --clr-primary: hsl(328.78deg 84.83% 71.57%);
  --clr-secondary: hsl(208, 83%, 93%);
  --clr-accent: hsl(89, 85%, 33%);
  --clr-accent: hsl(70, 70%, 50%);

  --ff-base: 'Roboto', sans-serif;
  --ff-accent: 'Satisfy', cursive;

  --fs-300: calc(14px + (18 - 14) * ((100vw - 300px) / (1600 - 300))); /*button medium / body2*/
  --fs-400: calc(16px + (22 - 16) * ((100vw - 300px) / (1600 - 300))); /*subtitle / body1*/
  --fs-500: calc(20px + (30 - 20) * ((100vw - 300px) / (1600 - 300))); /*h6 medium*/
  --fs-600: calc(24px + (34 - 24) * ((100vw - 300px) / (1600 - 300))); /*h5 regular*/
  --fs-700: calc(34px + (44 - 34) * ((100vw - 300px) / (1600 - 300))); /*h4 regular*/

  --gradient: #d367c1 10%, #dedf40 25%, #62cb5c 50%, #00bbcb 75%, #ab79d6 90%;
}

/* header font-size 34px-40px
  default font-size - body text 16px-22px
  secondary fs 14px-18px
  tertiary/capiton/label 12px  
  interaction heavy: Date - 48px hours - 10px event names - 12px

*/



*, *::before, *::after{
  box-sizing: border-box;
  margin: 0;
}

html{
  color-scheme: light dark;
}

img{
  max-width: 100%;
  display: block;
}

body{
  font-family: var(--ff-base);
  color: var(--clr-body);
  font-size: var(--fs-400);
  line-height: 1.6;
}

h1, h2, h3{
  line-height: 1.1;
  text-wrap: balance;
}

h1, h2{
  font-weight: 400;
  font-family: var(--ff-accent);
}

h1{
  font-size: var(--fs-700);
  margin-top: 1.25em;
  color: var(--clr-text);
}
h2{
  font-size: var(--fs-600);
  --flow-space: 1.2em;
}
h3{
  font-size: var(--fs-500);
}

a{
  color: var(--clr-primary);
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

button{
  padding: 0.5em 1em;
  border-radius: 30px;
  font-size: var(--fs-300);
  text-transform: uppercase;
  letter-spacing: 1.25pt;
  border: transparent;
  cursor: pointer;
  box-shadow: 0px 1px 0px rgba(17, 17, 26, 0.05), 0px 0px 8px rgba(17, 17, 26, 0.1);
  transition: all 0.3s ease-in;
}

button:active{
  transform: scale(0.98);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

button:disabled{
  background-color: #bdbdbd;
  color: #898989;
  cursor: auto;
}
button:disabled:hover{
  background: #bdbdbd;
}

header {
  padding-block: 1rem;
  background-color: var(--clr-primary);
}

header .wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header a, header svg{
  color: #fff;
}

header a{
  display: grid;
}

header svg{
  font-weight: 500;
  font-size: var(--fs-600);
  align-self: center;
}

input[type='text']{
  font-size: var(--fs-400);
  width: 100%;
}

fieldset{
  border: none;
}

.wrapper{
  width: min(100% - 3rem, 80ch);
  margin-inline: auto;
}

.hand-script{
  font-family: var(--ff-accent);
}

.sr-only{
  position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

.accent{
  color: var(--clr-accent);
  text-transform: uppercase;
}

.text-center{
  text-align: center;
}

#error-page{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#error-page h1{
  font-size: 32px;
}

.flex {
  display: flex;
  gap: var(--gap, 1em);
  align-items: center;
}

.primary-btn{
  --gap: 0.5em;
  background-color: var(--clr-primary);
  color: #fff; 
}

.primary-btn:hover{
  background: linear-gradient(45deg, var(--gradient));
  transition: all 0.5s ease-in;
}

.secondary-btn{
  color: var(--clr-primary);
  background-color: transparent;
}

/* habit list styles */

.habit-grid-row{
  display: grid;
  grid-template-areas: 
  'head end'
  'main main';
  grid-template-columns: 1fr 50px; 
  grid-template-rows: auto;
  margin-top: 0.5em;
  align-items: center;
  border-radius: 8px;
  padding: 8px;
  box-shadow: 0px 1px 0px rgba(17, 17, 26, 0.05), 0px 0px 8px rgba(17, 17, 26, 0.1);
}

.habit-grid-head{
  grid-area: head;
  display: grid;
  grid-template-columns: 15ch 1.5em 1.5em;
  align-items: center;
  padding-block: 0.5em;
}

.habit-grid-head span {
  text-wrap: balance;
  overflow-wrap: break-word;
  justify-self: flex-start;
  text-transform: capitalize;
}
.habit-grid-head svg{
  font-size: var(--fs-500);
}

.habit-grid-head span, .habit-grid-head svg{
  transition: all 0.4s ease-in-out;
}

.habit-grid-head span:hover, .habit-grid-head svg:hover {
  color: var(--clr-primary);
  cursor: pointer;
}

.habit-grid-main{
  grid-area: main;
}

.habit-grid-main div {
  justify-self: center;
  align-self: center;
  font-size: var(--fs-300);
}
.habit-grid-main span, .habit-grid-main button{
  display: block;
  justify-self: center;
}
.habit-grid-main span{
  margin-bottom: 3px;
  text-align: center;
}

.habit-grid-end{
  grid-area: end;
}

.list-heading span{
  margin: 0;
}
.list-heading .habit-grid-head, .list-heading .habit-grid-end{
  display: none;
}

.checkin-cell {
  justify-self: center;
  padding: 0;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
  outline-color: transparent;
}

.out-of-reach {
  border: 1px solid #8e8e8e;
}

.current-day{
  color: var(--clr-primary);
}

.checked {
  background-color: var(--clr-accent);
}

/* habit form styles */

.habit-form{
  --gap: 1em;
  position: fixed;
  inset: 0 0 0 0%;
  padding: min(5rem, 30vh) 2em;
  background: hsl(0 0% 100% / 0.2);
  backdrop-filter: blur(1.5rem);
  flex-direction: column;
  z-index: 1000;

  transform: translateX(100%);
  transition: transform 450ms ease-out;
}

.habit-form[data-visible='true']{
  transform: translateX(0%);
}

.habit-form-toggle{
  position: absolute;
  width: 2rem;
  aspect-ratio: 1;
  top: 2rem;
  right: 2rem;
  z-index: 9999;
  background-repeat: no-repeat;
  border: 0;
  cursor: pointer;
  color: #fff;
  font-size: 2.5rem;
  visibility: hidden;
}

.habit-form-toggle:has(:focus, :active, :hover){
  border: 1px solid var(--clr-text);
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: min(80%, 32rem);
  z-index: 3;
  background-color: var(--clr-surface);
  background-color: hsl(0 0% 0% / 0.7);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 1em;
}

.overlay {
  position: fixed;
  inset: 0 0 0 0;
  z-index: 2;
  background-color: hsl(0 0% 50% / 0.4);
  backdrop-filter: blur(0.7rem);
}

.close-button {
  position: absolute;
  right: 1.3em;
  top: 0.8em;
  cursor: pointer;
}

.check-button{
  background-color: var(--clr-secondary);
  border-radius: 4px;
  border: 1px solid #fff;
  overflow: hidden;
}

.check-button label{
  line-height: 2em;
}

.check-button label span{
  text-align: center;
  display: block;
}

.check-button input + span{
  color: #fff;
  font-size: 16px;
}

.check-button input:checked + span{
  color: #fff;
  text-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
  background-color: var(--clr-primary);
}

.grid{
  display: grid;
  gap: 5px;
}

.grid-col-2{
  grid-template-columns: repeat(2, 1fr);
}

.grid-col-7{
  grid-template-columns: repeat(7, 1fr);
}

.user-image{
  width: 40px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 1px solid var(--clr-accent);
}

.dashboard-heading{
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
  margin-bottom: 2em;
}

@media(min-width: 35em){
  .habit-form{
    inset: 0 0 0 30%;
  }
}

@media (min-width: 50em) {
  .habit-form{
    inset: 0 0 0 50%;
  }
  .habit-grid-row{
    grid-template-areas:
        'head main end';
    grid-template-columns: 20ch auto 50px;
  }
}
@media (min-width: 75em) {
  .habit-form{
    inset: 0 0 0 60%;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --clr-text: #ffffff;
    --clr-body: hsl(204, 20%, 85%);
    --clr-surface: #000305;
    --clr-surface-1: #1c1c1c;
    --clr-surface-2: #232323;
    --clr-surface-3: #2c2c2c;
    --clr-surface-4: #363636;
    --clr-primary: hsl(328deg 84% 70%);
    /* --clr-primary: hsl(329, 85%, 53%); */
    --clr-secondary: hsl(208, 83%, 17%);
    --clr-accent: hsl(89, 85%, 33%);
    --clr-accent: #7ee313;
  }

  header {
    background-color: var(--clr-surface-1);
  }

  header a,
  header svg {
    color: var(--clr-primary);
    cursor: pointer;
  }

  .habit-grid-row{
    background-color: var(--clr-surface-2);
  }

  .out-of-reach{
    border: 1px solid #fff;
  }

}
